img {
    max-width: 100%;
    height: auto;
  }
  
  /* Mise en forme des légendes pour les images */
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: var(--text-sm);
    color: var(--gray-600);
  }
  
  .duotone {
    background: var(--brand-saumon);
    position: relative;
  }
  
  .duotone::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--brand-violet);
    mix-blend-mode: lighten;
  }
  
  .duotone > img {
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }