.btn {
    display: inline-flex;
    padding: var(--space3x, 24px) 32px;
    align-items: center;
    gap: var(--space2x, 16px);
    border: 1px solid var(--brand-tonique);
    background: var(--blanc);
}