.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  inset: 0;
  background-color: var(--brand-violet);
  font-size: var(--text-xl);
  letter-spacing: var(--letter-spacing);
  transition: all 0.4s ease-in-out;
}
/* On se sert de Javascript pour ajouter une classe sur le menu lorsqu'on clique sur le bouton de menu pour le faire apparaître */
.menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

/* Mise en forme des éléments du menu */
.menu__list {
  margin-top: 25vh;
  margin-left: 15vw;
}

.menu__item {
  margin-top: 15%;
}

.menu__link {
  color: var(--gray-white);
  text-decoration: none;
}

.menu-btn {
    position: relative;
    z-index: 3;
    width: 30px;
  }
  
  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    background: white;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  
  .menu-btn__bar::before {
    top: -10px;
  }
  
  .menu-btn__bar::after {
    top: 10px;
  }
  
  /* Technique pour transformer les 3 barres du bouton de menu en croix
  Ne pas oublier d'ajouter une transition plus haut pour l'animation */
  .menu-btn[aria-expanded="true"] .menu-btn__bar,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--gray-white);
  }
  
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
  }